# ลิงก์ Google Colab (ไม่บังคับ) ต้องอยู่ก่อนหัวข้อ [neo4j]
# STRUCTURE_COLAB_URL = "https://colab.research.google.com/drive/รหัสไฟล์แรก"
# ANALYSIS_COLAB_URL = "https://colab.research.google.com/drive/รหัสไฟล์ที่สอง"

[neo4j]
uri = "neo4j+s://0e6c5c98.databases.neo4j.io"
username = "0e6c5c98"
password = "YOUR_PASSWORD"
database = "0e6c5c98"
